		html, body { margin: 0; padding: 0; background-color:black;}
		body { padding-bottom: 20px; text-align: center; }
		#container {
			text-align: left;
			margin: 0 auto;
			width: 1000px;
		}		
		#header {
                        color: white;
                        background-image:url("beethoven-background.jpg");
                        background-position: bottom right;
                        background-repeat: no-repeat;
                        background-color:black;
			border: 1px solid black;
			margin: 20px;
			padding: 20px;
                        padding-bottom:0;
		}
		#sidebar {
			background-color:#baa;
			border: 1px solid black;
			width: 200px;
			margin-left: 20px;
			padding-right:1em;
			float: left;
			display: inline; /* floats are handled as block elements, this is to fix 
							   a margin collapsing bug in IE */
		}
		#content {
			background-color:white;
			margin-left: 242px;
			margin-right: 20px;
			border: 1px solid black;
			padding: 20px;
		}
		#footer {
			background-color:white;
			margin: 20px 20px 0 20px;
			padding: 20px;
			border: 1px solid black;
			clear: left;
		}


thead th {
   background-color:#bfb;
   text-align:center;
}

th, td {
  border: thin gray dotted;
  padding: 0.5em;
}