@CHARSET "UTF-8";

/*!!!!!!!RICORDATI DI RAGGRUPPARE LE COSE IN COMUNE!!!!!!!*/

html, body { 
	margin: 0; 
	padding: 0; 
	background-color:black;
	text-align: left;
}

#header, #footer, .content, .sidebar, .breadcrumbs {
	border: 1px solid black;
}

#header {
	color: white;
	margin: 1%;
	padding: 1%;
	padding-bottom:0;
}

#footer {
	background-color:white;
	margin: 1%;
	padding: 1%;
}

.content {
	background-color:white;
	margin:0;
	padding: 1%;
}

.content img.big-images {
	float:right;	
}

#content1 {
	border-bottom:none;	
}
#content2 {
	border-top:none;	
}

.sidebar {
	background-color:#baa;
	padding:0;
}
.sidebar ul{
	margin:0;
	padding:0;
	list-style-type: none;
}
.sidebar ul li{
	margin:0;
	padding: 0.7em 0 0.7em 2%;
}

.breadcrumbs {
	background-color:#dcc;
	padding:1% 1% 1% 2%;
	font-size:0.8em;
}

h1, h2 {
	font-weight:bold;
	margin:0;
	padding:0;
}
h1 {
	font-size:1.5em;
}
h2 {
	font-size:1.3em;
}

dl.symphonies-list dt {
	font-weight:bold;
}